@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial";
    background-color: var(--cor-bg);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.conteudo{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    background-color: var(--cor-conteudo-bg);
    border-radius: 12px;
}

#conteudo-titulo{
    font-size: 3rem;
    color: var(--cor-destaque);
    margin: 1rem 0;
}

p, label{
    margin: 0.5rem 0;
}

#numero-destaque{
    font-weight: 600;
    color: var(--cor-destaque);
}

.lista{
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
    padding: 1.2rem;
}

#lista-item{
    margin: 0.5rem 0;
}

#numeros, #nome-da-tabuada, #fibonacci{
    font-size: 2rem;
    color: var(--cor-destaque);
    margin: 1rem 0;
}

input{
    padding: 0.5rem;
    text-align: center;
    width: 30%;
    outline: none;
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
}

input::placeholder{
    padding: 0 0 0 0.25rem;
    font-style: italic;
}

#botao{
    margin: 1.5rem 0;
    padding: 0.75rem 0;
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    border: 2px solid var(--cor-destaque);
    border-radius: 8px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: var(--cor-destaque);
}

#botao:hover{
    background-color: var(--cor-destaque);
    color: #FFFFFF;
    cursor: pointer;
}